

h1, h2, h3, h4, p, a, li {
    font-family: 'Dosis', sans-serif;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
